

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* navigation bar  */
.navbar-custombg{
  background-color:#006a71;
}

.nav-text{
  color: #ff7e67;
}

/* testimonials */

.testimonials-heading {
  padding-top: 70px;
  margin-bottom: 50px;
  color: #ecf4f3;
}

.testimonial-image {
  border-radius: 50%;
  width: 10%;
  margin: 20px 20px 40px 20px;
  
} 

.carousel-container{
  width: 70%;
  margin: auto;
 
}

.carousel-div{
  background-color:#68b0ab;
  letter-spacing: 200%;
  padding-bottom: 50px;
  color:#ecf4f3;
}

.carousel-control-next{
  margin-right: 0;
}


/* li.active {
  text-decoration: underline #ff7e67;
}

a:hover{
  color: #ecf4f3;
} */


/* big header section */


.left-container {
  margin-top: 3.5em;
  width: 70%;
  color: #ecf4f3;
  line-height: 200%;
}

.right-section {
  background-color:#006a71 ;
  padding-right: 0;
  padding-bottom: 20px;
}

.header-image {
  margin-top:3.5em ;
  width: 100%;
 
} 

.left-section{
  background-color:#006a71 ;
}


/* features section */

.feature-icon{
  color:#006a71 ;
}

.features-container {
  background-color: #ecf4f3;
 
}

.features-row {
  height: 100%;
}


.features-text{
  color:#006a71 ;
} 

/* search section */

.search-container { 
  background-color: #ecf4f3;
  height: 500px;
  position: relative;
} 

.search-image {
  background-image: url(./images/search1.jpg);
  background-size: cover;
  background-attachment: fixed;
  filter: opacity(75%);
}

.form-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding:30px 40px 30px 40px;
}

.foreground{
  backdrop-filter: brightness(30%);
}

.search-btn{
  color: #ff7e67;
  border:2px solid #ff7e67;
} 

/* About us Section */

.row-about{
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.aboutus-img{
  width: 100%;
  
}

.main-aboutus{
  /* height: 700px; */
  background-color: #006a71;
  
} 

/* ABOUT US CSS  */

 .about-us-header{
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-header::before{
  content:"";
  background-image: url(./images/about-us.jpeg);
  filter: opacity(80%);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} 


.header-small{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding:30px 40px 30px 40px;
  
}

.foreground-aboutus{
  backdrop-filter:brightness(80%);
}

/* footer section */

 .social-icons {
  color: #ff7e67;
}

.footer-p{
  color: #ecf4f3;
}

.footer-border{
  border-top: 1px solid #ff7e67;
}

.footer-bg{
  background-color:#006a71; 
} 

/* #footer{
  background-color:#006a71; 
  height: 500px;
}

.parent-container{
  width: 100%;
  
  overflow: hidden;
  
} */
/* 
.child-container{
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;

}


.contact-text{
  color: #ecf4f3 ;
}


.bottom-footer-container{
  border-top:1px solid #ff7e67;
  margin: auto;
  width: 80%;
  
}

.social-icons{
  color: #ff7e67;
}

.bottom-footer-text {
  color: #ecf4f3 ;
} */










/* CONTACT SECTION  */
 .contact-section {
  background-color: #006a71;
  color: #ecf4f3 ;
  padding: 100px 0;
}

.hr-line-contact{
  border: solid 1px #ff7e67;
  width: 20%;
  margin-top: 50px;
  margin-left: 0;

}

.contact-input{
  background-color: #ecf4f3;
  border:solid 1px #ff7e67;
}

.container-contact{
  margin-top: 3.5em;
  width: 70%;
  color: #ecf4f3;
  line-height: 200%;
  
} 

  .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+   */
  color: gray;
   opacity: 1; /*Firefox  */
  font-size: 15px;
}  

.iconOpen {
  transform: rotate(90deg);
}

.animateTransition{
  transition: all 300ms;
}




